* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: brush script mt, cursive;
  font-size: 8rem;
}

h2 {
  padding-top: 1rem;
  font-size: 2rem;
}

.heading {
  text-align: center;
  font-size: 2.0em;
  letter-spacing: 1px;
  padding: 40px;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 1rem;
  }
}

.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .gallery-image {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.gallery-image img {
  border: white;
  border-style: solid;
  border-radius: 10px;
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

@media only screen and (max-width: 600px) {
  .gallery-image img {
    height: 200px;
    width: 300px;
  }
}

.gallery-image .placeholderImage {
  border: white;
  border-style: solid;
  border-radius: 10px;
  height: 250px;
  width: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .gallery-image .placeholderImage {
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.placeholderWrapper>div {
  padding: 0.5rem;
  text-align: center;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .img-box {
    margin: 0;
    width: auto;
    height: auto;
    padding-bottom: 2rem;
  }
}

.caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.829);
  color: rgba(255, 255, 255, 0.801);
  bottom: 10px;
  left: 15px;
  opacity: 1.0;
  padding: 0.5rem;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .caption {
    bottom: 45px;
    left: 15px;
    font-size: 10px;
  }
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .img-box:hover img {
    transform: scale(1.1);
    border: hidden;
  }
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  opacity: 0.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.modal {
  position: absolute;

}